@import "tailwindcss";

:root {
  --background: #F4F6F7;
  --foreground: #6C8FA3;
  --primary: #6C8FA3;
  --accent: #D5848C;
  --text-secondary: #4A4F52;
  --borders: #D9DEE2;
  --shadow: rgba(0,0,0,0.06);
  --texture-sketchy: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="400" height="400"><defs><filter id="noise"><feTurbulence type="fractalNoise" baseFrequency="0.5" numOctaves="5" result="noise"/><feColorMatrix in="noise" type="saturate" values="0"/></filter></defs><rect width="100%" height="100%" fill="white" filter="url(%23noise)" opacity="0.28"/></svg>');
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  background-image: var(--texture-sketchy);
  background-repeat: repeat;
  background-attachment: fixed;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
