@import "tailwindcss";

@font-face {
  font-family: "FC明朝体-B";
  src: url("https://fonts.gstatic.com/s/notoserif/v21/ga6hM1xZYL90n6_4-Z7CHVVVap_jM1E1nqVSYGS185w.0.woff2") format("woff2");
  font-weight: bold;
}

:root {
  --background: #c8d8db;
  --foreground: #6C8FA3;
  --primary: #6C8FA3;
  --accent: #D5848C;
  --text-secondary: #4A4F52;
  --borders: #D9DEE2;
  --shadow: rgba(0,0,0,0.06);
  --texture-sketchy: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="400" height="400"><defs><filter id="noise"><feTurbulence type="fractalNoise" baseFrequency="0.5" numOctaves="5" result="noise"/><feColorMatrix in="noise" type="saturate" values="0"/></filter></defs><rect width="100%" height="100%" fill="white" filter="url(%23noise)" opacity="0.28"/></svg>');
  --font-fc-mincho: "FC明朝体-B", serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-cormorant-garamond);
  --font-button: var(--font-mulish);
  --font-body: var(--font-noto-sans-jp);
  --font-logo: var(--font-outfit);
}

body {
  background: #e3f6fa;
  color: var(--foreground);
  font-family: var(--font-noto-sans-jp);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-cormorant-garamond);
}

button,
a[role="button"],
.btn {
  font-family: var(--font-mulish);
}

.logo {
  font-family: var(--font-outfit);
}

.footer-title {
  font-family: var(--font-fc-mincho);
  font-weight: bold;
}
